/* feuille de style boutique */

body {
    background: url(../img/fond.png)
    
}

#conteneur {
    margin: 0 auto;
    width: 1000px;
    height: 923px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(138, 137, 137);
    
}

.bandeauHaut {
    background-color: rgb(254, 254, 255);
    height: 100px;
    width: 38%;
    float: left;
}

img[src="img/logo.png"]{
    /* width: 200px; */
    /* margin: auto; */
    padding-left: 1px;
    display: block; 
}

.aide {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 33%;
    float: left;
}


img[src="img/aide.png"]{
    /* width: 200px; */
    margin: auto;
    display: block;
}

.horaires a {
    font-size: 12px;
    color:rgb(45, 43, 43);
}

.panier .moncompte a {
    font-size: 15px;
    padding-top: 12px;
    text-align: center;
    color:rgb(250, 250, 250)
} 

.panier .moncompte hr {

    color:rgb(250, 250, 250)
}

.articles a {
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
} 


img[src="img/article.png"]{
    /* width: 200px; */
    padding-left: 10px; 
}

.panier {
    background-color:#33ccff;
    height: 80px;
    width: 29%;
    float: left;
    padding-bottom: 10px;
}

a {
    color: #33ccff;
}

/* rose : ff99cc */

h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
} 

/* c'est le menu navigation de la page */
nav {
    background-color: #33ccff;
    height: 110px;
    width: 100%;
    color: #33ccff;
    text-align: center;
    
}
nav ul {
    /* pour être certain de ne pas avoir de puces dans cette ul  */
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 27px;
    background-color: #33ccff;
    padding-top: 10px;
}
/* pour pointer les li qui sont dans la balise nav */
nav, li {
    display: inline;
}
nav li a {
    color: rgb(159, 153, 153);
    background-color:#33ccff;
    text-align: center;
    padding: 6px;
    margin: 20px;
    text-decoration: none;
}

/* le lien au survol de la souris */
nav li a:hover {
    color: rgb(70, 33, 33);
    background-color: #33ccff;
}
/* le lien clic de la souris, séléctionné */
nav li a:active {
    background-color: rgb(84, 42, 34);
}
/* le lien visité */
nav li a:visited {
    background-color:rgb(231, 233, 238);
}

h1 {
    /* padding-top: 30px; */
    margin-left: 70px;
    font-style: italic;
    font-weight: bold;
    font-size: 37px;
}

h2 {
    color: #33ccff;
    padding-left: 25px;
    font-size: 23px;
    padding-top: 15px;
}

h3 {
    margin-left: 10px;
    text-align: center;
     font-weight: bold;
}

h4 {
    color: #33ccff;
    padding-left: 25px;
    font-size: 18px;
    padding-top: 15px;
}

h5 {
    color: #33ccff;
    padding-left: 25px;
    font-size: 18px;
    padding-top: 5px;
}
h6 {
    /* padding-top: 30px; */
    color: #ff99cc;
    margin-left: 70px;
    padding-bottom: 50px;
    font-size: 12px;
}

.section1, .section2, .section3, .section4 {
    min-height: 400px;
    width: 100%;
    height: 400px;
    float: left; 
    border: solid 2px gray; 
}

.zone1 {
    background: url(../img/bandeau.png)no-repeat;  
}

/* ce sont les différentes zones */
.zone2, .zone3, .zone4, .zone5, .zone6, .zone7 {
    width: 100%;
    float: left; 
    /* border: solid 2px rgb(255, 255, 255);  */
}

.zone2 {
    width: 24%;
    height: 190px;
    min-height: 190px;
    background-color :#ffffff;
    border-right: 3px solid grey;
}

.carte {
    padding-left: 25px;
}

.zone3 {
    width: 46%;
    height: 190px;
    min-height: 190px;
    background-color: #fffefe;
    min-height: 150px; 
    border-right: 3px solid grey;
}

.zone4 {
    width: 27%;
    height: 190px;
    min-height: 190px;
    background-color: #ffffff;
    /* padding-left: 8px; */
    padding-top: 10px;
}

img[src="img/camion.png"]{
    /* width: 200px; */
    padding-left: 25px; 
}

img[src="img/echange.png"]{
    /* width: 200px; */
    padding-left: 25px; 
}

.livraison a {
    color: rgb(45, 43, 43);
    padding-left: 70px;
}

.produits a {
    color: rgb(45, 43, 43);
    padding-left: 70px; 
}

.zone5 {
    height: 180px;
    width: 300px;
    min-height: 180px;
    background-color: #ffffff;
    border: 2px solid grey;
    border-radius: 8%;
    padding-left: 20px;
    margin-left: 14px;
}
.zone6 {
    height: 180px;
    width: 300px;
    min-height: 180px;
    background-color: #ffffff;
    border: 2px solid grey;
    border-radius: 8%;
    padding-left: 8px;
    margin-left: 14px;
}

.zone7 {
    height: 180px;
    width: 300px;
    min-height: 180px;
    background-color: #ffffff;
    border: 2px solid grey;
    border-radius: 8%;
    padding-left: 2px;
    margin-left: 14px;
}

.reglement {
    padding: 10px;
    padding-bottom: 45px;
    padding-left: 25px;
}

.bienvenue {
    padding: 10px;
    padding-bottom: 85px;
    padding-left: 25px;
}

.sevices {
    padding: 10px;
    padding-bottom: 85px;
}

.relative { 
    position: relative;
    left: 65px;
    bottom: 115px;
    width: 200px;
    height: 100px;
    /* border: 1px solid #73AD21; */
    padding: 18px;
    font-size: 16px;
}

.relative2 { 
    position: relative;
    left: 80px;
    bottom: 80px;
    width: 200px;
    height: 100px;
    /* border: 1px solid #73AD21; */
    padding: 18px;
    font-size: 16px;
}

.relative3 { 
    position: relative;
    left: 80px;
    bottom: 100px;
    width: 200px;
    height: 100px;
    /* border: 1px solid #73AD21; */
    padding: 18px;
    font-size: 16px;
}
p {
    padding-top: 70px;
    /* overflow: hidden; */
}

.bas {
    width: 1000px;
    height: 50px;
    background-color: #33ccff;
}

.bas a {
    color: #e1dfdf;
    padding-left: 150px;
    border-top: 25px;
}

/* évite les flottements à gauche et à droite. */
.clear {
    clear: both;
}